.main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cardFooter {
    width: 100%;
}

@keyframes pulse-red {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 var(--link-hover);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}

.pulse {
    border-radius: 50%;
    animation: pulse-red 2s infinite;
    width: 16px;
}

.menuIcon {
    padding-top: 5px;
    width: 16px;
    float: right;
    color: var(--link-hover);
}

.menuIcon:hover {
    color: var(--primary)
}

.logoContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cardDetails {
    padding: 1rem;
}

.cardContent {
    background-color: var(--background);
    color: var(--black);
    min-width: 480px;
}

.cardContent:last-child {
    border-radius: 0.30rem;
}