.main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card_footer {
    width: 100%;
}

@keyframes pulse-red {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 var(--link-hover);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}

.pulse {
    border-radius: 50%;
    animation: pulse-red 2s infinite;
    width: 16px;
}

.menuIcon {
    padding-top: 5px;
    width: 16px;
    float: right;
    color: var(--link-hover);
}

.menuIcon:hover {
    color: var(--primary)
}

.under_card {
    max-height: 20px;
    min-height: 20px;
    height: 20px;
}

.under_item {
    color: var(--link);
}

.under_item:hover {
    color: var(--primary);
    cursor: pointer;
}

.card_details {
    padding: 1rem;
}

.card_content {
    background-color: var(--background);
    color: var(--black);
    /* display: none; */
}

.card_content:last-child {
    border-radius: 0.30rem;
}

.mini_nav_item {
    max-width: 10px;
    /* display: inline-block; */
}

.name {
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}

.tool {
    padding-right: 5px;
}

.logo {
    max-width: 100%;
    object-fit: contain;
}

.tmpLogo {
    font-size: 40px;
    font-weight: 900;
}

.tmpLogoGrey {
    color: var(--link-hover)
}

.tmpLogoWords {
    color: var(--secondary)
}

.occupation {
    color: var(--primary);
}

.occupation_note {
    color: var(--link-hover);
    padding-left: 15px;
    font-size: 0.9rem;
}

.card_avatar {
    display: grid;
    place-items: center;
}

.card_about {
    margin-top: 1rem;
    display: grid;
    grid-auto-flow: column;
}

.item {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    .value {
        font-size: 1rem;
    }
    .label {
        margin-top: 0.15rem;
        font-size: 0.75rem;
        font-weight: 600;
        color: var(--primary);
    }
}

.skills {
    display: flex;
    flex-direction: column;
    margin-top: 0.75rem;
    .label {
        font-size: 1rem;
        font-weight: 600;
        color: var(--primary);
    }
    .value {
        margin-top: 0.15rem;
        font-size: 0.75rem;
        line-height: 1.25rem;
    }
}