.PortfolioIcon {
    width: 16px;
}

.PortfolioPill {
    display: block;
    cursor: pointer;
    padding: .5rem 1rem;
    border-radius: 0.30rem;
}

.PortfolioPill:hover {
    background-color: var(--light-grey);
}