.PortfolioIcon {
    width: 16px;
}

.nav-link .nav-pills .nav-link.active,
.nav-pills .show>.nav-lin {
    background-color: red;
}

.miniNav:active {
    background-color: var(--black);
    color: white;
}